In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Normalization, Dense
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Sequential, Model

In [2]:
print(tf.__version__)

2.8.0

In [3]:
abalone_train = pd.read_csv("https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
                           names=['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 
                                 'Viscera weight', 'Shell weight', 'Age'])

In [4]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')

In [5]:
abalone_features

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,0.435,0.335,0.110,0.3340,0.1355,0.0775,0.0965
1,0.585,0.450,0.125,0.8740,0.3545,0.2075,0.2250
2,0.655,0.510,0.160,1.0920,0.3960,0.2825,0.3700
3,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.2600
4,0.545,0.420,0.130,0.8790,0.3740,0.1695,0.2300
...,...,...,...,...,...,...,...
3315,0.605,0.475,0.180,0.9365,0.3940,0.2190,0.2950
3316,0.700,0.525,0.190,1.6015,0.7070,0.3650,0.4300
3317,0.530,0.420,0.130,0.8365,0.3745,0.1670,0.2490
3318,0.395,0.315,0.105,0.3515,0.1185,0.0910,0.1195
3319,0.450,0.355,0.120,0.4120,0.1145,0.0665,0.1600

In [6]:
abalone_features = np.array(abalone_features)
abalone_features

array([[0.435 , 0.335 , 0.11  , ..., 0.1355, 0.0775, 0.0965],
       [0.585 , 0.45  , 0.125 , ..., 0.3545, 0.2075, 0.225 ],
       [0.655 , 0.51  , 0.16  , ..., 0.396 , 0.2825, 0.37  ],
       ...,
       [0.53  , 0.42  , 0.13  , ..., 0.3745, 0.167 , 0.249 ],
       [0.395 , 0.315 , 0.105 , ..., 0.1185, 0.091 , 0.1195],
       [0.45  , 0.355 , 0.12  , ..., 0.1145, 0.0665, 0.16  ]])

In [7]:
abalone_model = keras.Sequential([
    Dense(64), 
    Dense(1)
])

abalone_model.compile(loss = MeanSquaredError(),
                      optimizer = Adam())

In [8]:
abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 0s 522us/step - loss: 61.0550
Epoch 2/10
104/104 [==============================] - 0s 511us/step - loss: 11.9595
Epoch 3/10
104/104 [==============================] - 0s 520us/step - loss: 8.7024
Epoch 4/10
104/104 [==============================] - 0s 523us/step - loss: 8.1645
Epoch 5/10
104/104 [==============================] - 0s 521us/step - loss: 7.6942
Epoch 6/10
104/104 [==============================] - 0s 513us/step - loss: 7.3132
Epoch 7/10
104/104 [==============================] - 0s 516us/step - loss: 7.0205
Epoch 8/10
104/104 [==============================] - 0s 526us/step - loss: 6.8179
Epoch 9/10
104/104 [==============================] - 0s 511us/step - loss: 6.6876
Epoch 10/10
104/104 [==============================] - 0s 511us/step - loss: 6.5736

###### Basic Processing

In [9]:
normalize = Normalization()
normalize.adapt(abalone_features)

In [10]:
norm_abalone_model = Sequential([
    normalize, 
    Dense(64),
    Dense(1),
])

norm_abalone_model.compile(loss=MeanSquaredError(),
                          optimizer=Adam())

norm_abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 0s 515us/step - loss: 93.2913
Epoch 2/10
104/104 [==============================] - 0s 513us/step - loss: 55.2812
Epoch 3/10
104/104 [==============================] - 0s 535us/step - loss: 17.3621
Epoch 4/10
104/104 [==============================] - 0s 517us/step - loss: 6.1110
Epoch 5/10
104/104 [==============================] - 0s 512us/step - loss: 5.1431
Epoch 6/10
104/104 [==============================] - 0s 533us/step - loss: 5.0338
Epoch 7/10
104/104 [==============================] - 0s 505us/step - loss: 4.9759
Epoch 8/10
104/104 [==============================] - 0s 513us/step - loss: 5.0036
Epoch 9/10
104/104 [==============================] - 0s 517us/step - loss: 4.9447
Epoch 10/10
104/104 [==============================] - 0s 507us/step - loss: 4.9356

##### Mixed data types

In [11]:
titanic = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [12]:
titanic_features = titanic.copy()
titanic_labels = titanic_features.pop('survived')

In [13]:
# Create a symbolic input
input = keras.layers.Input(shape=(), dtype=tf.float32)

# Perform a calculation using the input
result = 2 * input + 1

#  the result doesn't have a value
result

In [14]:
calc = Model(inputs=input, outputs=result)

In [15]:
print(calc(1))
print(calc(2).numpy())

tf.Tensor(3.0, shape=(), dtype=float32)
5.0

In [16]:
inputs = {}
for name, column in titanic_features.items():
    dtype = column.dtype
    if dtype == object:
        dtype = tf.string
    else:
        dtype == tf.float32
        
    inputs[name] = keras.Input(shape=(1, ), name=name, dtype=dtype)

inputs

{'sex': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'sex')>,
 'age': <KerasTensor: shape=(None, 1) dtype=float64 (created by layer 'age')>,
 'n_siblings_spouses': <KerasTensor: shape=(None, 1) dtype=int64 (created by layer 'n_siblings_spouses')>,
 'parch': <KerasTensor: shape=(None, 1) dtype=int64 (created by layer 'parch')>,
 'fare': <KerasTensor: shape=(None, 1) dtype=float64 (created by layer 'fare')>,
 'class': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'class')>,
 'deck': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'deck')>,
 'embark_town': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'embark_town')>,
 'alone': <KerasTensor: shape=(None, 1) dtype=string (created by layer 'alone')>}

In [17]:
# titanic에서 dtype이 tf.float32인 열에 대한 normalize
# 단 열 이름을 titanic_features에서 구했으므로 survived는 빠짐
numeric_inputs = {name:input for name, input in inputs.items() if input.dtype==tf.float32}
x = tf.keras.layers.Concatenate()(list(numeric_inputs.values()))
norm = Normalization()
norm.adapt(np.array(titanic[numeric_inputs.keys()]))
all_numeric_inputs = norm(x)

all_numeric_inputs

IndexError: tuple index out of range

In [18]:
a, b = 'a', 10

In [19]:
type(a)

str

In [20]:
type(b)

int

In [23]:
type(b) is object

False